/* .item must be first */
.item {
  align-items: center;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 34px;
}

.disabled-page {
  color: #808e9b;
}

.activeitem {
  font-weight: bold;
  border-radius: 13px;
  background-color: #E7E7E7;
}

.break-me {
}

.next {

}

.pagination {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
}

.pagination-page {
 
}

